<!-- templates/registration/password_reset_confirm.html -->
{% extends "users/base.html" %}

{% block head_content %}
    <title>Ingresa tu nueva contraseña</title>
{% endblock %}


{% block container %}

{% if validlink %}

<h1>Ingresa una nueva contraseña</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Cambiar mi contraseña">
</form>

{% else %}

<p>El link para cambiar la contraseña no es válido, puede que haya sido usado anteriormente .  Intentalo nuevamente.</p>

{% endif %}
{% endblock %}