<!-- templates/registration/password_reset_form.html -->
{% extends "users/base.html" %}


{% block head_content %}
    <title>¿Olvidaste tu contraseña?</title>
{% endblock %}

{% block container %}
  <h1>¿Olvidaste tu contraseña?</h1>
  <p>Ingresa tu contraseña aquí debajo, no te preocupes, te enviaremos intrucciones para que puedas usar tu cuenta.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviame instrucciones">
  </form>
{% endblock %}